*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


body{
    color: #5b5b5b;
}

.container{
    max-width: 1258px;
    margin: 0 auto;
}

.menu__list{
    display: flex;
}
.menu__list-item{
    margin: 29px 30px 29px 0;
}
.menu__list-link{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #949494;
    border-bottom: 2px solid transparent;
    transition: all .5s;
}
.menu__list-link:hover{
    color: #b5904e;
    border-bottom: 2px solid #b5904e;
}
.separator{
    width: 55px;
    height: 55px;
    background-image: url(../img/разделитель.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
.separator::after,
.separator::before{
    content: "";
    position: absolute;
    width: 592px;
    height: 2px;
    background-color: #5b5b5b;
    opacity: .5;
}
.separator::after{
    left: 63px;
    top: 50%;
}
.separator::before{
    right: 63px;
    top: 50%;
}
h1{
    font-size: 34px;
    font-weight: 400; 
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}

.selection__list{
    display: flex;
    margin-bottom: 20px;
}
.selection__list-desc{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 198px;
}
.selection__list-item{
    height: 470px;
    width: 50%;
    background-repeat: no-repeat;
}
.selection__list-item:first-child{
    margin-right: 12px;
}
.selection__list-title{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.selection__list-suptitle{
    font-size: 41px;
    font-weight: 400;
    letter-spacing: 0.19px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: -10px;
}
.selection__list-icon{
    width: 145px;
    height: 29px;
    background-repeat: no-repeat;
    margin-top: 55px;
}
.recipes h1{
    margin-bottom: 108px;
}
.recipes__list{
    display: flex;
    margin-bottom: 20px;
}
.recipes__list-item{
    display: flex;
    width: 50%;
    border: 2px solid #f2f2f2; 
}
.recipes__list-item:first-child{
    margin-right: 12px;
}
.recipes__image{
    width: 306px;
    height: 308px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.recipes__author{
    position: absolute;
    bottom: 17px;
    left: 17px;
    display: flex;
    align-items: center;
    color: #bcbcbca9;
    font-size: 18px;
    font-weight: 400;
}
.recipes__author img{
    margin-right: 7px;
}
.recipes__desc{
    max-width: 317px;
    padding: 18px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipes__title{
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.55px;
    text-align: center;
}
.recipes__info{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 18px;
    padding-left: 11px;
    padding-right: 11px;
}
.recipes__info-time,
.recipes__info-complexity,
.recipes__info-calorie{
    width: 93px;
    height: 33px;
    padding: 8px 0px 8px 32px;
    color: #b5904e;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    vertical-align: middle;
    position: relative;
}
.recipes__info-time::before,
.recipes__info-complexity::before,
.recipes__info-calorie::before{
    content: "";
    position: absolute;
    background-image: url(../img/recipes-info-time.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 8px;
}
.recipes__info-complexity::before{
    background-image: url(../img/recipes-info-complexity.svg);
}
.recipes__info-calorie::before{
    background-image: url(../img/recipes-info-calorie.svg);
    top: 8px;
}
.recipes__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.73px;
    letter-spacing: 0.12px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 12px;
    height: 90px;
}
.recipes__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49px;
    border-top:2px solid #f2f2f2 ;
    
}
.recipes__footer-like{
    padding-left: 50px;
    font-size: 15px;
    font-weight: 500;
    color: #9b9b9b;
    position: relative;
}
.recipes__footer-like::before{
    content: "";
    position: absolute;
    background-image: url(../img/like.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 19px;
    left: 23px;
    bottom: 0;
}
.recipes__footer-socials a{
   height: 17px;
   margin-right: 23px; 
}

.hot-selection__items{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 51px;
}
.hot-selection__item{
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 45px;
}
.hot-selection__item:not(:last-child){
    margin-right: 12px;
}
.hot-selection__title{
    color: #f0f0f0;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 41.33px;
    text-align: center;
}

footer .menu{
    background-color: #252627;
    width: 1367px;
    height: 70px;
    margin: 0 auto;
    padding-left: 55px;
}